
body{
    background-color:rgb(166, 189, 212);
}

h1{
    font-family: 'Exo 2',sans-serif;
    color:rgb(224, 222, 243);
    font-size: 30px;
    letter-spacing: 10px;
}


article{
    text-align: left;
    font-family: 'Exo 2',sans-serif;
    font-size: 22px;
    color:rgb(233, 231, 248);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color:lightslategrey;
    font-family: 'Exo 2',sans-serif;
    width: 100%;

}

.logo{
    color:rgb(224, 222, 243);
    letter-spacing: 5px;
    font-size: 23px;
}

.nav-links{
    display:flex;
    width: 50%;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.in-text a{
    color: rgb(224, 222, 243);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.in-text li{
    list-style: none;
}

.nav-links a{
    color: rgb(224, 222, 243);
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 10px;
}
.threestripe{
    cursor: pointer;
}

.threestripe div{
width: 33px;
height: 5px;
background-color: rgb(224, 222, 243);
margin: 5px;
transition: all 0.3s ease;

}

.nav-links li{
    opacity: 0;
}

@media screen  {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height:70%;
        top: 13.8%;
        background-color:lightslategrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
   
    .threestripe{
        display: block;
    }
    }
    .nav-active{
        transform: translateX(-2.40%);
    }

    @keyframes navLinkAppear{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-7px, 7px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-7px, -7px);
    }

    footer{
        color:rgb(233, 231, 248);
    }

    hr{
        border: none;
        background-color:lightslategrey;
        height: 2px;
        top:100%;
    }