
html{
    overflow-x: hidden;
    
}

body{
    top: 20vh;
    border: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, rgb(99, 113, 126) , rgb(70, 80, 90));
    overflow-x: hidden;
  background-attachment: fixed;
  
}

h1{
     padding-top: 5%;
    font-family: 'Exo 2',sans-serif;
    color:rgb(224, 222, 243);
    font-size: 50px;
    letter-spacing: 15px;
    text-decoration: none;
}

h2{
    padding-top: 4%;
    padding-left: 10%;
    font-family: 'Exo 2',sans-serif;
    color:rgb(224, 222, 243);
    font-size: 35px;
    letter-spacing: 10px;
    text-decoration: none;
}

h3{
    
    padding-left: 10%;
    font-family: 'Exo 2',sans-serif;
    color:rgb(224, 222, 243);
    font-size: 20px;
    letter-spacing: 10px;
    text-decoration: none;
    
}


p{
    padding-left: 10%;
    padding-right: 10%;
    width: fit-content;
    text-align: justify;
    font-family: 'Exo 2',sans-serif;
    font-size: 30px;
    color:rgb(233, 231, 248);
}



footer {
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    text-align: left;
    font-family: 'Exo 2',sans-serif;
    color:rgb(224, 222, 243);
    font-size: 20px;
    background-color: rgb(47, 53, 59);
    
}





.in-text a{
    color: rgb(224, 222, 243);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
    line-height: 40px;
    padding-left: 10%;
}

.in-text li{
    list-style: none;
}

.template{
    color: rgb(224, 222, 243);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
    line-height: 40px;
    padding-left: 10%;
}

    .image{
        margin: 30px;
        transform: translateX(14%);
        height: 400px; 
        width: 750px; 
       z-index: -1;
    }
    @media screen and (max-width:800px){
        p{
           font-size: 30px;
        }
        h1{
            padding-top: 20%;
            font-size: 40px;
            
        }
        h2{
            padding-top: 5%; 
            font-size: 30px;
        }
        h3{
            font-size: 20px;
        }
        .in-text a{
            font-size: 15px;
        }
        footer{
            font-size: 20px;
        }
        .image{
            transform: none;
            height: 200px; 
            width: 300px;
        }
        .wireframe{
            height: 600px; 
            width: 500px;
            padding-left: 20%;
        }
       
    }
    @media screen and (max-width:400px){
        main{
            padding-top: 10%;
        }
        p{
           font-size: 15px;
        }
        h1{
            padding-top: 10%;
        }
        h2{
            padding-top: 10%; 
            font-size: 20px;
        }
        h3{
            font-size: 20px;
        }
        .in-text a{
            font-size: 10px;
        }
        footer{
            font-size: 15px;
        }
        .image{
            transform: none;
            height: 200px; 
            width: 300px;
        }

        .wireframe{
            height: 300px; 
            width: 200px;
            padding-left: 20%;
        }
    }
    

    

    